@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.navigation ul {
  list-style: none;
  text-align: right;
}

.navigation li {
  padding: 0rem 0.5rem;
  display: inline;
}

.navigation {
  padding-top: 2rem;
  color: white;
  background-color: #f50057;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation li a:hover {
  color: black;
  font-weight: bold;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigation .link-active {
  font-weight: bold;
}

.image-container {
  padding: 2rem;
}

.image-container .image {
  max-width: 355px;
  display: block;
  margin: auto;
}
.heading {
  text-align: center;
  padding-top: 1rem;
}

.heading h3 {
  font-size: 2rem;
}
.heading p {
  font-size: 1rem;
}

.two {
  padding-top: 1rem;
  background-color: #fce4ed;
  text-align: center;
  padding-bottom: 1.5rem;
}
.two h4 {
  color: black;

  padding: 0 0.5rem;
}

.projects {
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.projects img {
  padding-top: 1rem;
  max-width: 355px;
  display: block;
  margin: auto;
}
.projects h2 {
  font-size: 1.7rem;
}

.projects h1 {
  padding-top: 1rem;
}

.projects p {
  font-size: 1.1rem;
  color: #be185d;
  padding-bottom: 1rem;
}
.link {
  background: black;
  outline: none;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
  border: 0;
  padding: 0.9rem;
  cursor: pointer;
  padding-bottom: 1rem;
  font-weight: bold;
  border-radius: 10px;
}
.blogs {
  padding-top: 1rem;
  background-color: #f0898b;
  text-align: center;
  padding-bottom: 2rem;
}

.blogs p {
  color: black;

  font-style: italic;
  padding: 2rem;
  padding-bottom: 1rem;
}
footer {
  padding-top: 1rem;
  background-color: #eef2ff;
  text-align: center;
  padding-bottom: 1rem;
}

footer ul {
  list-style: none;
}
footer ul li {
  display: inline;

  padding-right: 0.5rem;
}

footer ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media screen and(max-width:568px)
{
  
  
}